test/failures.xml
test/results.xml
benchmark/*.log
xpparser
lib/
target/
tools/tex/totals_*.tex
tools/tex/matrix_*.tex
tools/tex/occurences_*.tex
tools/tex/*cov
tools/tex/*dat
tools/tex/MAXcount*
tools/tex/matrices
tools/tex/numqueries*
tools/tex/*tex
tools/extensions/*tex
tools/extensions/*dat
tools/extensions/*xml
tools/chord/chord.inner.svg
tools/chord/chord.pdf
tools/chord/chord.svg
tools/chord/numqueries
tools/chord/site/
*.swp
*.aux
*.log
*.fls
*.fdb_latexmk
*gnuplot*
*~
