#circle circle {
  fill: none;
  pointer-events: all;
}
#circle textpath { font-size: 11px; }

#chord .group path {
  fill-opacity: .5;
  stroke: #444;
  stroke-width: .1pt;
}

#chord path.chord {
  cursor: pointer; 
  stroke: #444;
  stroke-width: .1pt;
  opacity: .8;
}

path {
    transition: opacity 0.1s ease-in-out;
}    

path.inactive, #circle:hover path.fade {
    opacity: 0;
}